<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.2.0">
    <servers>
        <server>
            <username>admin</username>
            <password>@yZvRLf3AG8BdS79w</password>
            <id>central</id>
        </server>
        <server>
            <username>admin</username>
            <password>@yZvRLf3AG8BdS79w</password>
            <id>snapshots</id>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>maven-default-http-blocker</id>
            <mirrorOf>external:dont-match-anything-mate:*</mirrorOf>
            <name>Pseudo repository to mirror external repositories initially using HTTP.</name>
            <url>http://0.0.0.0/</url>
            <blocked>false</blocked>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>libs-release</name>
                    <url>http://vmpx02.polytech.unice.fr:8003/artifactory/libs-release</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>libs-snapshot</name>
                    <url>http://vmpx02.polytech.unice.fr:8003/artifactory/libs-snapshot</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>libs-release</name>
                    <url>http://vmpx02.polytech.unice.fr:8003/artifactory/libs-release</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>libs-snapshot</name>
                    <url>http://vmpx02.polytech.unice.fr:8003/artifactory/libs-snapshot</url>
                </pluginRepository>
            </pluginRepositories>

            <id>artifactory</id>
        </profile>
        <profile>
            <id>sonar</id>
            <properties>
                <sonar.host.url>
                    http://vmpx02.polytech.unice.fr:8001
                </sonar.host.url>
            </properties>
        </profile>
    </profiles>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <activeProfiles>
        <activeProfile>sonar</activeProfile>
    </activeProfiles>
</settings>
